@import "../../../sass/abstracts/variables";

.gamesSection {
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  @media (max-width: $layout-breakpoint-xsmall) {
    height: 80vh;
  }
}

.boxGamesWrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-bottom: 100px;

  @media (max-width: $layout-breakpoint-small) {
    gap: 40px;
  }
  @media (max-width: $layout-breakpoint-xsmall) {
    gap: 30px;
  }
}

.boxGames {
  width: 100%;
  display: flex;
  gap: 10px;
}
