@import "../../../../sass/abstracts/variables";

.team {
  display: grid;
  grid-template: 1fr 1fr/1fr;
  height: 100%;
  color: #fff;
  text-align: center;

  .teamName {
    @include adaptive-FS(13, 18);
    @media (max-width: $layout-breakpoint-small) {
      line-height: 15px;
    }
  }

  @media (max-width: $layout-breakpoint-small) {
    justify-content: center;
  }

  .teamImage {
    @media (max-width: $layout-breakpoint-small) {
      width: 10vw;
    }
  }
  .teamScore {
    @include adaptive-FS(13, 15);
  }
}
