.teamItem {
  width: 1000px;
  height: 100%;

  .imageBlock {
    position: relative;
    margin: 0 auto;
    max-width: 926px;
    min-width: 556px;
    min-height: 556px;
    border-radius: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 51px;
    .teamLogo {
      z-index: 10;
    }
    .ballLogo {
      position: absolute;
      z-index: 1;
    }
  }
  .teamDescription {
    text-align: center;
    padding: 0px 42px;
    overflow: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 7px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0.23);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #f18e1c;
      border-radius: 20px;
      max-height: 10px;
    }

    /* Handle on hover */

    .teamText {
      max-width: 926px;
      text-align: center;
      color: white;
      font-size: 24px;
      line-height: 33px;
      text-align: center;
      letter-spacing: 0.04em;
      height: 278px;
    }
  }
}

.arrow {
  cursor: pointer;
}
.arrowLeft {
  position: absolute;
  bottom: 5%;
  left: 10%;
}
.arrowRight {
  position: absolute;
  bottom: 5%;
  right: 0%;
}

.active {
}

.disable {
  opacity: 0.85;
  transition: all 0.3s ease;
  transform: scale(0.8);
}
